{% extends 'base.html.twig' %}
{% block top %}

{% if app.user %}
    <a href="{{ path('logout') }}">
        <i class="icon-key"></i>{{ 'header.menu.user.logout' | trans }}
    </a>
    <a href="{{ path('user.edit') }}">
        <i class="icon-key"></i>{{ 'header.menu.user.edit' | trans }}
    </a>
{% else %}
    <a href="{{ path('user.create') }}" class="btn btn-link btn-lg text-primary">{{ 'header.menu.user.registration' | trans }}</a>
    <a href="{{ path('user.login') }}" class="btn btn-link btn-lg text-primary">{{ 'header.menu.user.login' | trans }}</a>
{% endif %}

{% endblock %}

{% block content %}

{% endblock %}
