{% for key,flashMessage in app.session.flashBag.all() %}
    {% if key == 'error' %}
        {% set type = 'danger' %}
    {% else %}
        {% set type = key %}
    {% endif %}
    <div class="alert alert-{{ type }}">
        {{ flashMessage | join(', ') }}
    </div>
{% endfor %}
{{ app.session.flashBag.clear() ? '' }}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('user.change_password') }}">
    <i class="icon-key"></i>{{ 'user.change_password' | trans }}
</a>