{% for key,flashMessage in app.session.flashBag.all() %}
    {% if key == 'error' %}
        {% set type = 'danger' %}
    {% else %}
        {% set type = key %}
    {% endif %}
    <div class="alert alert-{{ type }}">
        {{ flashMessage | join(', ') }}
    </div>
{% endfor %}
{{ app.session.flashBag.clear() ? '' }}
{{ form_start(form) }}
{{ form_row(form.email) }}
{{ form_widget(form.save) }}
{{ form_end(form) }}